{% extends "base.html" %}
{% block content %}
<header>
    <h1>Registration Form</h1>

</header>
<section>
    <div id="container_demo" >
        <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">
                <h1>Log in</h1>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                  <p class="signin button">
                    <input type="submit" value="Sign up"/>
                </p>
              </form>
                <p class="change_link">
                    <a href="{% url 'start' %}" class="to_register"> Start page </a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}