{% extends "base.html" %}
{% block content %}
<header>
    <h1>Registration Form</h1>

</header>
<section>
    <div id="container_demo" >
        <div id="wrapper">
            <div id="login" class="animate form">
                <h1>Register</h1>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                  <p class="signin button">
                    <input type="submit" value="Sign up"/>
                </p>
              </form>
                <p class="change_link">
                    <a href="{% url 'start' %}" class="to_register"> Start page </a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}