<h1>{{ test.test_name }}</h1>
<ul>
{% for question in questions %}
    <p align="center">{{ question.question_text }}</p>
    {% csrf_token %}
    {% for answer in question.answer_set.all %}
        <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}" />
        <label for="answer{{ forloop.counter }}">{{ answer.answer_text }}</label><br />
    {% endfor %}
{% endfor %}
</ul>
<li><a href="{% url 'quiz:results'  test_id=test.id %}">{{ "RESULTS" }}</a></li>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

