{% extends "base.html" %}
{% block content %}
            <header>
                <h1>{{ user.get_username }}</h1>
            </header>
            <section>
                <div id="container_demo" >
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <h1>{{ test.test_name }}</h1>
                            {% if questions %}
                                <p>Number of questions: {{ questions.all.count }}</p>
                                {% if result or result == 0 %}
                                    <p>You latest result: {{ result }}</p>
                                {% else %}
                                    <p>You latest result: You have not solve this quiz yet</p>
                                {% endif %}
                                <form action="{% url 'quiz:question' test.id test.question_set.first.id%}">
                                    <input type="submit" value="Start Quiz" />
                                </form>
                            {% else %}
                                <p>No questions are available.</p>
                                <form action="{% url 'quiz:index' %}">
                                    <input type="submit" value="MAIN PAGE" />
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
{% endblock%}