{% extends "base.html" %}
{% block content %}
            <header>
                <h1>Welcome {{ user.get_username }}</h1>

            </header>
            <section>
                <div id="container_demo" >
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            {% if latest_tests_list %}
                                <h1>Available tests</h1>
                                {% for test in latest_tests_list %}
                                    <form action="{% url 'quiz:detail' test.id %}">
                                        <input type="submit" value="{{ test.test_name }}" />
                                    </form>
                                {% endfor %}
                            {% else %}
                                <p align="center">Sorry, but we don't have any tests now.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
{% endblock%}