{% extends "base.html" %}
{% block content %}
<header>
    <h1>Welcome</h1>

</header>
<section>
    <div id="container_demo" >
        <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">
                <h1>Login or register</h1>
                <form action="{% url 'login' %}">
                    <input type="submit" value="LOGIN" />
                </form>
                <form action="{% url 'register' %}">
                    <input type="submit" value="REGISTER" />
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}